@import './colors';
@import './variables';

/* For hiding scrollbar in MacOS when a mouse is plugged */
::-webkit-scrollbar {
  display: none;
}

* {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

html,
body {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-size: $base-font-size;
  line-height: normal;
  font-family: 'Source Code Pro', monospace, sans-serif;
  -webkit-text-size-adjust: 100%;
  background-color: transparent;
  color: var(--color-text);
  overflow: hidden;
}
